In [1]:
import pandas as pd
import json

In [2]:
df = pd.read_csv("C:\Dataframes\Oracle\dataframe.csv")

In [3]:
df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,key,session_id,session_data,theatre_id,screen_id,bo_data,theatre_data,movie_data
0,0,0.0,0.0,000003df-3748-4494-ba11-6c1ae1630709.json,000003df-3748-4494-ba11-6c1ae1630709,"{'layouts': [{'name': 'PREMIUM', 'table': [['P...",NaN,NaN,{'Seats': [{'ShowId': 'CPVD_4B63551D-2D2B-4EDA...,NaN,NaN
1,1,1.0,1.0,0000105a-9fa3-484b-9b1b-5e348f4dd80f,0000105a-9fa3-484b-9b1b-5e348f4dd80f,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2.0,2.0,000014f4-0fe6-4b88-a256-62f884faf1c7,000014f4-0fe6-4b88-a256-62f884faf1c7,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
type(df['session_data'][0])

str

In [5]:
j = df['session_data'][0].replace("'", '"').replace('None','null').replace('False', 'false').replace('True','true')

In [6]:
json_data = json.loads(j)

In [7]:
type(json_data)

dict

In [8]:
json_data['session']['id']

'000003df-3748-4494-ba11-6c1ae1630709'

In [9]:
json_data['session']['theatre_id']

'27cc29e4-17d9-46ab-b7e1-750ddde34e6d'