In [1]:
import pandas as pd
import json

In [2]:
df = pd.read_excel("C:\Dataframes\Oracle\JSON to columns.xlsx")

In [3]:
df

                                    JSON
0  [{"actor": "abc", "producer": "Cba"}]
1  [{"actor": "def", "producer": "fed"}]
2  [{"actor": "qwe", "producer": "ewq"}]
3  [{"actor": "asd", "producer": "dsa"}]

In [4]:
def create(j, role):
    j = json.loads(j)
    return j[0][role]

In [5]:
df['Actor'] = df.apply(lambda x: create(x['JSON'], 'actor'), axis=1)
df['Producer'] = df.apply(lambda x: create(x['JSON'], 'producer'), axis=1)
df

                                    JSON Actor Producer
0  [{"actor": "abc", "producer": "Cba"}]   abc      Cba
1  [{"actor": "def", "producer": "fed"}]   def      fed
2  [{"actor": "qwe", "producer": "ewq"}]   qwe      ewq
3  [{"actor": "asd", "producer": "dsa"}]   asd      dsa

In [ ]:
df.to_excel("C:\Dataframes\Oracle\JSON to columns.xlsx")