In [1]:
import pandas as pd
import ast
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv("C:\\Dataframes\\Oracle\\data_frame.csv")

C:\Users\Gokul\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (0,2,3,4,5,7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,bo_data,key,movie_data,movie_id,screen_id,session_data,session_id,theatre_data,theatre_id
0,{'Seats': [{'ShowId': 'CPVD_4B63551D-2D2B-4EDA...,000003df-3748-4494-ba11-6c1ae1630709.json,"{'name': '1921', 'poster': '//images.moviebuff...",b0233471-d5bd-442b-a531-6518c13ba2a0,5f5bffa9-66cb-44f0-84f6-e8689285aee3,"{'layouts': [{'name': 'PREMIUM', 'table': [['P...",000003df-3748-4494-ba11-6c1ae1630709,"{'id': 'cinemadb-io-8735', 'uuid': '27cc29e4-1...",27cc29e4-17d9-46ab-b7e1-750ddde34e6d
1,{'Seats': [{'ShowId': '1_C1455128-2DEE-4127-93...,0000105a-9fa3-484b-9b1b-5e348f4dd80f,"{'name': '2.0', 'poster': '//images.moviebuff....",c03f3fe4-b149-40d4-b74d-6fdb8ff05697,39abbe73-adae-4fe1-a374-6f3f6a8a2aa0,"{'layouts': [{'name': 'Classic', 'table': [['C...",0000105a-9fa3-484b-9b1b-5e348f4dd80f,"{'id': 'cinemadb-io-5286', 'uuid': 'a5e5948c-4...",a5e5948c-4135-4b68-8130-28e51513daba
2,{'Seats': [{'ShowId': 'CPVJ_0808DB42-C5AF-4D20...,000014f4-0fe6-4b88-a256-62f884faf1c7,"{'name': 'Agent Sai Srinivasa Athreya', 'poste...",387ed44a-0b14-4b6e-90e3-fddbb6d41387,2d9134ac-3856-4295-b633-b9c5feeb280c,"{'layouts': [{'name': 'NORMAL', 'table': [[Non...",000014f4-0fe6-4b88-a256-62f884faf1c7,"{'id': 'cinemadb-io-6938', 'uuid': '673c5684-d...",673c5684-d99d-43ed-9d9f-b1b935591ac6
3,"{'SessionTime': '2018-09-08T12:00:00Z', 'Scree...",0000156f-d803-44fa-8bac-cdeef54a7b3a,"{'name': 'Laila Majnu', 'poster': '//images.mo...",9b7e1cba-eddc-4c37-ad97-ee274ea3c23b,eb13068f-dabf-431f-b39c-16ec1b803bc9,"{'layouts': [{'name': 'PLATINUM', 'table': [['...",0000156f-d803-44fa-8bac-cdeef54a7b3a,"{'id': 'cinemadb-io-10605', 'uuid': 'e26e0cbe-...",e26e0cbe-fddd-4438-83f6-a8c6590d1820
4,"{'SessionTime': '2018-04-07T08:30:00Z', 'Scree...",000016cf-f3a3-4d3e-a00b-b9fae5e67e0d,"{'name': 'Sudani From Nigeria', 'poster': '//i...",e26cf723-c6b9-42b0-9d03-f3b88f2d6b00,3703431a-945a-4095-b08c-933408bd8e59,"{'layouts': [{'name': 'Red Ruby', 'table': [['...",000016cf-f3a3-4d3e-a00b-b9fae5e67e0d,"{'id': 'cinemadb-io-44132', 'uuid': 'eef4fea7-...",eef4fea7-3988-4653-9f2a-6e1ae727aac6

In [4]:
df = df[:3000]

In [7]:
columns = ['capacity', 'cast', 'certifications', 'city', 'crew', 'experiences', 'facility_type', 'language', 'province', 'runningTime', 'sold_seats', 'time', 'date', 'releaseDates']

In [8]:
a = ast.literal_eval(df['movie_data'][0])

In [9]:
for key in a:
    if key in columns:
        df[key] = None

for i in range(len(df)):
    d = ast.literal_eval(df['movie_data'][i])
    for key in d:
        if key in columns:
            df[key][i] = d[key]

In [10]:
df.head()

,bo_data,key,movie_data,movie_id,screen_id,session_data,session_id,theatre_data,theatre_id,releaseDates,certifications,language,runningTime,cast,crew
0,{'Seats': [{'ShowId': 'CPVD_4B63551D-2D2B-4EDA...,000003df-3748-4494-ba11-6c1ae1630709.json,"{'name': '1921', 'poster': '//images.moviebuff...",b0233471-d5bd-442b-a531-6518c13ba2a0,5f5bffa9-66cb-44f0-84f6-e8689285aee3,"{'layouts': [{'name': 'PREMIUM', 'table': [['P...",000003df-3748-4494-ba11-6c1ae1630709,"{'id': 'cinemadb-io-8735', 'uuid': '27cc29e4-1...",27cc29e4-17d9-46ab-b7e1-750ddde34e6d,"{'IN': '2018-01-12', 'AE': '2018-01-11', 'GB':...","{'IN': 'A', 'PL': '15'}",Hindi,8640,"[{'name': 'Karan Kundra', 'poster': '//images....","[{'department': 'Direction', 'roles': [{'name'..."
1,{'Seats': [{'ShowId': '1_C1455128-2DEE-4127-93...,0000105a-9fa3-484b-9b1b-5e348f4dd80f,"{'name': '2.0', 'poster': '//images.moviebuff....",c03f3fe4-b149-40d4-b74d-6fdb8ff05697,39abbe73-adae-4fe1-a374-6f3f6a8a2aa0,"{'layouts': [{'name': 'Classic', 'table': [['C...",0000105a-9fa3-484b-9b1b-5e348f4dd80f,"{'id': 'cinemadb-io-5286', 'uuid': 'a5e5948c-4...",a5e5948c-4135-4b68-8130-28e51513daba,"{'IN': '2018-11-29', 'AU': '2018-11-29', 'NZ':...","{'IN': 'U/A', 'IE': '12A', 'AE': 'PG13'}",Hindi,9000,"[{'name': 'Akshay Kumar', 'poster': '//images....","[{'department': 'Direction', 'roles': [{'name'..."
2,{'Seats': [{'ShowId': 'CPVJ_0808DB42-C5AF-4D20...,000014f4-0fe6-4b88-a256-62f884faf1c7,"{'name': 'Agent Sai Srinivasa Athreya', 'poste...",387ed44a-0b14-4b6e-90e3-fddbb6d41387,2d9134ac-3856-4295-b633-b9c5feeb280c,"{'layouts': [{'name': 'NORMAL', 'table': [[Non...",000014f4-0fe6-4b88-a256-62f884faf1c7,"{'id': 'cinemadb-io-6938', 'uuid': '673c5684-d...",673c5684-d99d-43ed-9d9f-b1b935591ac6,"{'IN': '2019-06-21', 'US': '2019-06-20'}",{'IN': 'U/A'},Telugu,8880,"[{'name': 'Naveen Polisetty', 'poster': None, ...","[{'department': 'Direction', 'roles': [{'name'..."
3,"{'SessionTime': '2018-09-08T12:00:00Z', 'Scree...",0000156f-d803-44fa-8bac-cdeef54a7b3a,"{'name': 'Laila Majnu', 'poster': '//images.mo...",9b7e1cba-eddc-4c37-ad97-ee274ea3c23b,eb13068f-dabf-431f-b39c-16ec1b803bc9,"{'layouts': [{'name': 'PLATINUM', 'table': [['...",0000156f-d803-44fa-8bac-cdeef54a7b3a,"{'id': 'cinemadb-io-10605', 'uuid': 'e26e0cbe-...",e26e0cbe-fddd-4438-83f6-a8c6590d1820,"{'IN': '2018-09-07', 'AE': '2018-09-06'}",{'IN': 'U/A'},Hindi,8340,"[{'name': 'Avinash Tiwary', 'poster': None, 't...","[{'department': 'Direction', 'roles': [{'name'..."
4,"{'SessionTime': '2018-04-07T08:30:00Z', 'Scree...",000016cf-f3a3-4d3e-a00b-b9fae5e67e0d,"{'name': 'Sudani From Nigeria', 'poster': '//i...",e26cf723-c6b9-42b0-9d03-f3b88f2d6b00,3703431a-945a-4095-b08c-933408bd8e59,"{'layouts': [{'name': 'Red Ruby', 'table': [['...",000016cf-f3a3-4d3e-a00b-b9fae5e67e0d,"{'id': 'cinemadb-io-44132', 'uuid': 'eef4fea7-...",eef4fea7-3988-4653-9f2a-6e1ae727aac6,"{'IN': '2018-03-23', 'US': '2018-04-20', 'AE':...",{'IN': 'U'},Malayalam,7200,"[{'name': 'Samuel Abiola Robinson', 'poster': ...","[{'department': 'Direction', 'roles': [{'name'..."

In [11]:
df['cast'] = df['cast'].apply(lambda x: [actor['name'] for actor in x])

In [12]:
def director(crew):
    try:
        return crew[0]['roles'][0]['name']
    except:
        return

df['director'] = df['crew'].apply(director)

In [14]:
b = ast.literal_eval(df['session_data'][0])

In [15]:
for key in b['session']:
    if key in columns:
        df[key] = None

for i in range(len(df)):
    d = ast.literal_eval(df['session_data'][i])
    d = d['session']
    for key in d:
        if key in columns:
            df[key][i] = d[key]

In [95]:
df['date'] = df['session_data'].apply(lambda x: ast.literal_eval(x)['session']['date'])

In [16]:
df.head()

,bo_data,key,movie_data,movie_id,screen_id,session_data,session_id,theatre_data,theatre_id,releaseDates,certifications,language,runningTime,cast,crew,director,time,date,experiences
0,{'Seats': [{'ShowId': 'CPVD_4B63551D-2D2B-4EDA...,000003df-3748-4494-ba11-6c1ae1630709.json,"{'name': '1921', 'poster': '//images.moviebuff...",b0233471-d5bd-442b-a531-6518c13ba2a0,5f5bffa9-66cb-44f0-84f6-e8689285aee3,"{'layouts': [{'name': 'PREMIUM', 'table': [['P...",000003df-3748-4494-ba11-6c1ae1630709,"{'id': 'cinemadb-io-8735', 'uuid': '27cc29e4-1...",27cc29e4-17d9-46ab-b7e1-750ddde34e6d,"{'IN': '2018-01-12', 'AE': '2018-01-11', 'GB':...","{'IN': 'A', 'PL': '15'}",Hindi,8640,"[Karan Kundra, Zareen Khan, Anupam Kher]","[{'department': 'Direction', 'roles': [{'name'...",Vikram Bhatt,2018-01-14T10:10:00.000+05:30,2018-01-14,[]
1,{'Seats': [{'ShowId': '1_C1455128-2DEE-4127-93...,0000105a-9fa3-484b-9b1b-5e348f4dd80f,"{'name': '2.0', 'poster': '//images.moviebuff....",c03f3fe4-b149-40d4-b74d-6fdb8ff05697,39abbe73-adae-4fe1-a374-6f3f6a8a2aa0,"{'layouts': [{'name': 'Classic', 'table': [['C...",0000105a-9fa3-484b-9b1b-5e348f4dd80f,"{'id': 'cinemadb-io-5286', 'uuid': 'a5e5948c-4...",a5e5948c-4135-4b68-8130-28e51513daba,"{'IN': '2018-11-29', 'AU': '2018-11-29', 'NZ':...","{'IN': 'U/A', 'IE': '12A', 'AE': 'PG13'}",Hindi,9000,"[Akshay Kumar, Amy Jackson, Rajinikanth, Adil ...","[{'department': 'Direction', 'roles': [{'name'...",Shankar Shanmugham,2018-12-24T10:00:00.000+05:30,2018-12-24,[3D]
2,{'Seats': [{'ShowId': 'CPVJ_0808DB42-C5AF-4D20...,000014f4-0fe6-4b88-a256-62f884faf1c7,"{'name': 'Agent Sai Srinivasa Athreya', 'poste...",387ed44a-0b14-4b6e-90e3-fddbb6d41387,2d9134ac-3856-4295-b633-b9c5feeb280c,"{'layouts': [{'name': 'NORMAL', 'table': [[Non...",000014f4-0fe6-4b88-a256-62f884faf1c7,"{'id': 'cinemadb-io-6938', 'uuid': '673c5684-d...",673c5684-d99d-43ed-9d9f-b1b935591ac6,"{'IN': '2019-06-21', 'US': '2019-06-20'}",{'IN': 'U/A'},Telugu,8880,"[Naveen Polisetty, Shruti Sharma, Darbha Appaj...","[{'department': 'Direction', 'roles': [{'name'...",Swaroop RSJ,2019-07-15T22:05:00.000+05:30,2019-07-15,[2D]
3,"{'SessionTime': '2018-09-08T12:00:00Z', 'Scree...",0000156f-d803-44fa-8bac-cdeef54a7b3a,"{'name': 'Laila Majnu', 'poster': '//images.mo...",9b7e1cba-eddc-4c37-ad97-ee274ea3c23b,eb13068f-dabf-431f-b39c-16ec1b803bc9,"{'layouts': [{'name': 'PLATINUM', 'table': [['...",0000156f-d803-44fa-8bac-cdeef54a7b3a,"{'id': 'cinemadb-io-10605', 'uuid': 'e26e0cbe-...",e26e0cbe-fddd-4438-83f6-a8c6590d1820,"{'IN': '2018-09-07', 'AE': '2018-09-06'}",{'IN': 'U/A'},Hindi,8340,"[Avinash Tiwary, Tripti Dimri, Mir Sarwar, Ruc...","[{'department': 'Direction', 'roles': [{'name'...",Sajid Ali,2018-09-08T17:30:00.000+05:30,2018-09-08,[2D]
4,"{'SessionTime': '2018-04-07T08:30:00Z', 'Scree...",000016cf-f3a3-4d3e-a00b-b9fae5e67e0d,"{'name': 'Sudani From Nigeria', 'poster': '//i...",e26cf723-c6b9-42b0-9d03-f3b88f2d6b00,3703431a-945a-4095-b08c-933408bd8e59,"{'layouts': [{'name': 'Red Ruby', 'table': [['...",000016cf-f3a3-4d3e-a00b-b9fae5e67e0d,"{'id': 'cinemadb-io-44132', 'uuid': 'eef4fea7-...",eef4fea7-3988-4653-9f2a-6e1ae727aac6,"{'IN': '2018-03-23', 'US': '2018-04-20', 'AE':...",{'IN': 'U'},Malayalam,7200,"[Samuel Abiola Robinson, Soubin Shahir, Abhira...","[{'department': 'Direction', 'roles': [{'name'...",Zakariya,2018-04-07T14:00:00.000+05:30,2018-04-07,[]

In [19]:
df = df.loc[:, 'releaseDates':'experiences']

In [ ]:
df.drop('crew', axis=1, inplace=True)

In [31]:
df.head()

,releaseDates,certifications,language,runningTime,cast,director,time,date,experiences
0,"{'IN': '2018-01-12', 'AE': '2018-01-11', 'GB':...","{'IN': 'A', 'PL': '15'}",Hindi,8640,"[Karan Kundra, Zareen Khan, Anupam Kher]",Vikram Bhatt,2018-01-14T10:10:00.000+05:30,2018-01-14,[]
1,"{'IN': '2018-11-29', 'AU': '2018-11-29', 'NZ':...","{'IN': 'U/A', 'IE': '12A', 'AE': 'PG13'}",Hindi,9000,"[Akshay Kumar, Amy Jackson, Rajinikanth, Adil ...",Shankar Shanmugham,2018-12-24T10:00:00.000+05:30,2018-12-24,[3D]
2,"{'IN': '2019-06-21', 'US': '2019-06-20'}",{'IN': 'U/A'},Telugu,8880,"[Naveen Polisetty, Shruti Sharma, Darbha Appaj...",Swaroop RSJ,2019-07-15T22:05:00.000+05:30,2019-07-15,[2D]
3,"{'IN': '2018-09-07', 'AE': '2018-09-06'}",{'IN': 'U/A'},Hindi,8340,"[Avinash Tiwary, Tripti Dimri, Mir Sarwar, Ruc...",Sajid Ali,2018-09-08T17:30:00.000+05:30,2018-09-08,[2D]
4,"{'IN': '2018-03-23', 'US': '2018-04-20', 'AE':...",{'IN': 'U'},Malayalam,7200,"[Samuel Abiola Robinson, Soubin Shahir, Abhira...",Zakariya,2018-04-07T14:00:00.000+05:30,2018-04-07,[]

In [42]:
def get_date(release):
    try:
        return release['IN']
    except:
        return

In [47]:
df['release_date'] = df['releaseDates'].apply(get_date)

In [50]:
df[df['release_date'].isna() == True]

,releaseDates,certifications,language,runningTime,cast,director,time,date,experiences,release_date
2663,{},{},Hindi,0,"[Mahesh Manjrekar, Tara Sharma, Konkona Sen Sh...",Sidharth Srinivasan,2019-02-08T18:30:00.000+05:30,2019-02-08,[2D],None