In [1]:
import pandas as pd
import glob

In [2]:
path = "C:\\Dataframes\\Oracle\\files" # your path with double backslashes 
all_files = glob.glob(path + "/*.csv")

li = [pd.read_csv(filename, index_col=None, header=0) for filename in all_files]

df = pd.concat(li, axis=0, ignore_index=True)

In [3]:
# no. of csvs
len(li)

683

In [4]:
# no. of sessions
df.shape

(229748, 32)

In [6]:
df.head(3)

,session_id,date,time,screen_id,theatre_id,movie_id,facility_type,facility_location_type,latitude,longitude,...,featured,run_time,genres,actress,actor,director,music_director,music_label,release_type,sold_seats
0,05e0acf7-8ac5-40f4-8cef-3b5eaed14a9a,2016-11-05,2016-11-05T21:30:00.000+05:30,c0287c52-c993-4cc6-9225-86eb16579b80,01668bc7-8262-4b03-88ff-4170a8811995,366e57ab-1d26-4127-b687-8cc91feb2d04,Complex,Standalone,18.410869,84.037351,...,False,9120,"['Action', 'Romance']","['Nitya Naresh', 'Shravya']",['Naveen Krishna'],['PV Giri'],"['Achu Rajamani', 'Shekhar Chandra']",['Mango Music'],Wide Release,0
1,00e2d26a-0186-4d5b-82df-21f894aa50db,2016-11-09,2016-11-09T21:30:00.000+05:30,c0287c52-c993-4cc6-9225-86eb16579b80,01668bc7-8262-4b03-88ff-4170a8811995,366e57ab-1d26-4127-b687-8cc91feb2d04,Complex,Standalone,18.410869,84.037351,...,False,9120,"['Action', 'Romance']","['Nitya Naresh', 'Shravya']",['Naveen Krishna'],['PV Giri'],"['Achu Rajamani', 'Shekhar Chandra']",['Mango Music'],Wide Release,0
2,00e2d26a-0186-4d5b-82df-21f894aa50db,2016-11-09,2016-11-09T21:30:00.000+05:30,c0287c52-c993-4cc6-9225-86eb16579b80,01668bc7-8262-4b03-88ff-4170a8811995,366e57ab-1d26-4127-b687-8cc91feb2d04,Complex,Standalone,18.410869,84.037351,...,False,9120,"['Action', 'Romance']","['Nitya Naresh', 'Shravya']",['Naveen Krishna'],['PV Giri'],"['Achu Rajamani', 'Shekhar Chandra']",['Mango Music'],Wide Release,0

In [7]:
# no. of duplicates
len(df[df.duplicated(['session_id'])])

697

In [8]:
# nulls
df.isna().sum()

session_id                    0
date                          0
time                          0
screen_id                     0
theatre_id                    0
movie_id                      0
facility_type               404
facility_location_type      404
latitude                    404
longitude                   404
area                      69042
city                        404
province                    404
postal_code                 404
total_seats                3503
cooling_type              33929
projection_type             404
sound_mixes                 404
country                     404
release_date                172
certificate               16823
language                      0
featured                      0
run_time                      0
genres                        0
actress                       0
actor                         0
director                      0
music_director                0
music_label                   0
release_type               1169
sold_seats                    0
dtype: int64