In [1]:
import pandas as pd
import glob

In [2]:
path = "C:\\Dataframes\\Oracle\\files\\files" # your path with double backslashes 
all_files = glob.glob(path + "/*.csv")

li = [pd.read_csv(filename, index_col=None, header=0) for filename in all_files]

df = pd.concat(li, axis=0, ignore_index=True)

In [3]:
df.shape

(4074, 32)

In [4]:
df.head(3)

,session_id,date,time,screen_id,theatre_id,movie_id,facility_type,facility_location_type,latitude,longitude,...,featured,run_time,genres,actress,actor,director,music_director,music_label,release_type,sold_seats
0,000003df-3748-4494-ba11-6c1ae1630709,2018-01-14,2018-01-14T10:10:00.000+05:30,5f5bffa9-66cb-44f0-84f6-e8689285aee3,27cc29e4-17d9-46ab-b7e1-750ddde34e6d,b0233471-d5bd-442b-a531-6518c13ba2a0,Multiplex,Mall,22.322643,73.166237,...,False,8640,"['Drama', 'Horror']",['Zareen Khan'],['Karan Kundra'],['Vikram Bhatt'],"['Asad Khan', 'Harish Sagane', 'Pranit Mawale']",['Zee Music'],NaN,b'4'
1,009de438-8541-419a-b436-565b96a8f1cc,2018-02-24,2018-02-24T21:45:00.000+05:30,b363a65e-4d70-4a29-aeea-2366a83e9b61,1b5ffe9e-ba9a-4fd8-b5bb-2a25e3d226a5,ffb28dc1-0c15-4afb-bc4b-8876fca30daa,Single Screen,Standalone,16.509486,80.627164,...,False,6660,"['Action', 'Sci-Fi', 'Thriller']",['Tess Haubrich'],"['Callan Mulvey', 'Jackie Chan']",['Leo Zhang'],['Fei Peng'],[],NaN,0
2,005d0f46-072f-478b-9781-84f992dbe8a3,2018-03-04,2018-03-04T22:00:00.000+05:30,58843ad4-1f12-4431-bb2b-4a7019ff7830,62a66a67-51fd-40db-bef9-7caff2674574,74c907c4-034a-4fea-8218-20b657e87f6f,Multiplex,Standalone,26.480984,74.631272,...,False,8400,"['Drama', 'Romantic Comedy']",['Nushrat Bharucha'],"['Kartik Aaryan', 'Sunny Singh Nijjar']",['Luv Ranjan'],"['Amaal Mallik', 'Guru Randhawa', 'Rajat Nagpa...",['T-Series'],NaN,b'53'